body,
.cc {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #333;
}

#imageContainer {
  margin-bottom: 20px;
}

#wordContainer {
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

#message {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #d9534f;
}

#letters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
  justify-content: center;
  margin-bottom: 20px;
}

#letters button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: uppercase;
}

#letters button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

#letters button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#wrongLetters {
  color: #d9534f;
  font-size: 1rem;
}

img {
  height: 100px;
  width: auto;
}
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1em 2em;
  font-size: 15px;
  font-weight: bold;
  border-width: 0;
  border-radius: 1.5em;
  text-transform: uppercase;
  transition: 0.2s ease;
}

.text {
  font-size: 1.2em;
  color: white;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 260%;
  background-image: linear-gradient(
    135deg,
    rgba(0, 5, 255, 1) 0%,
    rgb(0, 255, 119) 100%
  );
}

.btn::after {
  position: absolute;
  content: "";
  width: 88%;
  height: 80%;
  border-width: 0;
  border-radius: 1.2em;
  background-color: black;
  opacity: 0.7;
  transition: 100ms ease;
}

.btn:hover.btn {
  transform: scale(1.1);
}

.btn:hover.btn::after {
  opacity: 0.5;
}

.btn:hover.btn::before {
  animation: turn_4810 0.4s infinite linear;
}

.btn:active.btn {
  transform: scale(1.05);
}

.btn:active.btn::before {
  transform: scale(1.05);
  animation: turn_4810 0.2s infinite linear;
}

@keyframes turn_4810 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  --s: 25px; /* control the size */
  --c1: #1eaaee;
  --c2: #fff;

  --c: #0000 71%, var(--c1) 0 79%, #0000 0;
  --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
  background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
    linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
    radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
}
.cc {
  background-color: wheat;
  height: auto;
  min-height: 400px;
  border-radius: 20px;
  width: auto;
  min-width: 400px;
}

#wordContainer,
#wrongLetters,
h1,
#message {
  background-color: wheat;
  padding: 2%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.cc {
  --s: 15px; /* control the size */
  --t: 2px; /* control the thickness */
  --c1: #084c7f;
  --c2: #fef5e9;

  --_c: #0000 calc(98% - var(--t)), var(--c1) calc(100% - var(--t)) 98%, #0000;
  --_s: calc(2 * var(--s)) calc(5 * var(--s) / 2);
  --_r0: /var(--_s) radial-gradient(calc(var(--s) / 2) at 0 20%, var(--_c));
  --_r1: /var(--_s) radial-gradient(calc(var(--s) / 2) at 100% 20%, var(--_c));
  background: 0 0 var(--_r0),
    calc(-1 * var(--s)) calc(5 * var(--s) / 4) var(--_r0), var(--s) 0 var(--_r1),
    0 calc(5 * var(--s) / 4) var(--_r1),
    conic-gradient(at var(--t) calc(20% + 2 * var(--t)), #0000 75%, var(--c1) 0)
      calc(var(--t) / -2) calc(var(--s) - var(--t)) / var(--s)
      calc(5 * var(--s) / 4),
    repeating-conic-gradient(var(--c2) 0 25%, #0000 0 50%) var(--s)
      calc(var(--s) / -8) / var(--_s),
    conic-gradient(from 90deg at var(--t) var(--t), var(--c2) 25%, var(--c1) 0)
      calc((var(--s) - var(--t)) / 2) calc((var(--s) - var(--t)) / 2) / var(--s)
      calc(5 * var(--s) / 4);
}
